<p>parent works!</p>
<div>
    <table border="1">
        <tr>
            <td>תאור</td>
            <td>סטאטוס</td>
            <td>האם דחוף</td>
        </tr>
        <tr *ngFor="let t of listTask">
            <td>{{t.description}}</td>
            <td>{{t.status}}</td>
            <td>{{t.isUgercy}}</td>
        </tr>
    </table>
</div>

<!-- <app-child [name1]="name" [age]="20" [taskDetails]="listTask[0]"></app-child> -->
<app-child [name1]="name" [age]="20" [taskDetails]="t" *ngFor="let t of listTask"
(dataSend)="updateTask($event)"
></app-child>
